{% extends 'base.html' %}
{% block title %} Chat Room {% endblock title %}
{% block content %}
<div>
    <div id="chat-log" style="height: 300px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;"></div>
</div>
<div>
    <input id="chat-message-input" type="text" size="100">
    <button id="btn-send-invite">Send invite</button>
</div>
<div>
    <input id="chat-message-submit" type="button" value="Send">
</div>
{{ room_name|json_script:"room-name" }}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`);

    chatSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        if (data.message === "/invite") {
            chatInvite();
        }
        else {
            const messageElement = document.createElement('p');
            messageElement.textContent = data.message
            document.querySelector('#chat-log').appendChild(messageElement);
        }
        const chatLog = document.querySelector('#chat-log');
        chatLog.scrollTop = chatLog.scrollHeight;
    };

    chatSocket.onclose = (e) => {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = (e) => {
        if (e.key === 'Enter') {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = (e) => {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({ message }));
        messageInputDom.value = '';  
    };

    document.querySelector('#btn-send-invite').onclick = (e) => {
        const message = "/invite";
        chatSocket.send(JSON.stringify({ message }));
        messageInputDom.value = '';  
    }

    function chatInvite() {
        const inviteElement = document.createElement('p');
        inviteElement.textContent = "You received a pong invitation!";
        document.querySelector("#chat-log").appendChild(inviteElement);
    }
</script>
{% endblock content %}
