<!-- chat/room.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %} Chat Room {% endblock title %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'css/chat-room.css' %}"> {% endblock extra_css %}
{% block content %}
<div>
    <div id="chat-log" style="height: 300px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;"></div>
</div>
<div>
    <input id="chat-message-input" type="text" size="100">
    <button id="btn-send-invite">Send invite</button>
</div>
<div>
    <input id="chat-message-submit" type="button" value="Send">
</div>
{{ room_name|json_script:"room-name" }}
{% endblock content %}
{% block script %}
<script>
    function createElement(tag, className, content) {
        const element = document.createElement(tag);
        if (className) element.className = className;
        if (content) element.textContent = content;
        return element;
    }

    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`); // TODO use WSS instead of WS
    
    chatSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        if (data.message === "/invite") {
            chatInvite();
        }
        else {
            const elementMessageRow = createElement('div', 'row message-row');
            const elementMessageCol = createElement('div', 'col-12 p-0');
            const elementMessageFlex = createElement('div', 'd-flex align-items-start');
            const elementMessageProfileLink = document.createElement('a');
            const elementMessagePicture = createElement('img', 'pp-message');
            const elementMessageText = createElement('div', 'message-content', `${data.username}: ${data.message}`);

            elementMessagePicture.src = data.profile_picture;
            elementMessageProfileLink.href = `/users/profile/${data.username}`

            elementMessageProfileLink.append(elementMessagePicture);
            elementMessageFlex.appendChild(elementMessageProfileLink);
            elementMessageFlex.appendChild(elementMessageText);
            elementMessageCol.appendChild(elementMessageFlex);
            elementMessageRow.appendChild(elementMessageCol);

            document.querySelector('#chat-log').appendChild(elementMessageRow);
        }
        const chatLog = document.querySelector('#chat-log');
        chatLog.scrollTop = chatLog.scrollHeight;
    };
    
    chatSocket.onclose = (e) => {
        console.error('Chat socket closed unexpectedly');
    };
    
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = (e) => {
        if (e.key === 'Enter') {
            document.querySelector('#chat-message-submit').click();
        }
    };
    
    document.querySelector('#chat-message-submit').onclick = (e) => {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({ message }));
        messageInputDom.value = '';  
    };
    
    document.querySelector('#btn-send-invite').onclick = (e) => {
        const message = "/invite";
        chatSocket.send(JSON.stringify({ message }));
        messageInputDom.value = '';  
    }
    
    function chatInvite() {
        const inviteElement = document.createElement('p');
        inviteElement.textContent = "You received a pong invitation!";
        document.querySelector("#chat-log").appendChild(inviteElement);
    }
</script>
{% endblock script %}
