* {
	padding: 0;
	margin: 0;
}

.pipboy .row {
	padding: 0;
	margin: 0;
}

.pipboy .row>* {
	padding: 0;
	margin: 0;
}

body {
	background: black;
}

.pipboy-header {
	/* border-bottom: 1px black solid; */
	height: 8vh;
	width: 100%;
	text-align: center;
}

.pipboy-subheader {
	height: 8vh;
}

.tab-title {
	/* margin-bottom: -10px; */
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: x-large;
	font-weight: bolder;
	margin-top: 3vh;
	color: rgb(102, 195, 27);
	border-bottom: 0.4vh rgb(102, 195, 27) solid;
}

.col-4 {
	color: rgb(102, 195, 27);
}

.stat-left-col {

}

.stat-middle-col {

}

.stat-right-col {

}

.stat-top-row {

}

.stat-middle-row {

}

.stat-bot-row {

}


.header-line {
	display: flex;
	width: 100%;
	justify-content: center;
	/* border-top: 0.4vh rgb(102, 195, 27) solid; */
}

.bg-blue {
	background-color: blue;
}

.stat-page {
	height: 58.2vh;
	justify-content: center;
	align-items: center;
	background-color: blue;
}

.trophy {
	height: 10.9vh;	
	margin-bottom: 3.64vh;
}

.stat-bars {
	height: 14.5vh;
}


.active {
	position: relative;
	border-bottom: 0.4vh black solid;
	/* height: 200px; Your element's height */
	/* Other styles for your element */
}
  
.active:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%; /* Full width of the element */
	height: 50%; /* Half the height of the element */
	border-left: 0.4vh rgb(102, 195, 27) solid; /* Your desired border style */
	border-right: 0.4vh rgb(102, 195, 27) solid;
	box-sizing: border-box;
}

.tab-title button {
	width: 100%;
	height: 100%;
}