.unselectable {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.party_list {
	display: grid;
	grid-template-columns: repeat(4, 10fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);


	justify-content: space-evenly;
	padding: 0px;
}


.party_card {
	/* flex: 0 1 calc(25% - 1em); */

	/* transform:rotate(2deg); */
	/* flex: 0 0 200px;
	flex-direction: column; */

	margin: 10px;
	width: 300px;
	height: 200px;

	/* background-color: #f5e0ab; */
	/* background-image: './static/media/pong.png'; */
	/* background-position: center; */
	/* background-size: cover; */
	/* background-image:	url("../../backgrounds/transparent_simple_noise.png"); */
	/* background-image:	cross-fade(url("../../backgrounds/transparent_simple_noise.png") 50%, url('black.png') 50%); */
	/* '../../backgrounds/old-paper-background.jpg' */
	background-color: #f5e0ab;
	border: 5px solid black;
	box-shadow: 0 0 0 7px #fff, 0 0 8px 5px #000;

	transition:
		transform 0.25s,
		rotate 0.25s;
}

.party_card:hover {
	transform: translate(5px, -8px) rotate(1.5deg);
}

.party_card_image {
	position: relative;
	width: 100%;
	height: 65%;
	background-color: #017cc0;
	border-bottom: 5px solid #000;
	z-index: 1;
}

.party_card_image>img {
	position: absolute;
	z-index: 2;
	height: 100%;
	object-fit: contain;
}

.party_card_image>img {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-left: 0px;
}

.party_card_text {
	width: 100%;
	height: 35%;
	padding-top: 2px;
}

.party_card_text>h2 {
	font-size: 2rem;
	letter-spacing: 8px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 0px;
	color: #2E5579;
}

.party_card_text>div {
	display: flex;
	justify-content: space-between;
	/* padding: 2px; */
	padding-top: 0px;
}

.party_card_text>div>div {
	display: flex;
	flex-direction: column;
}

.party_card_text>div>div:first-child {
	/* border:5px solid black; */
	border-left: none;
	border-bottom: none;
	max-width: 65%;
}

.party_card_text>div>div:first-child>span {
	font-size: 1.0rem;
	line-height: 20px;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.party_card_text>div>div:first-child>span:first-child {
	font-size: 1.2rem;
	line-height: 20px;
	font-weight: 600;
}

.party_card_text>div>div:last-child {
	border: 5px solid black;
	border-right: none;
	border-bottom: none;
}

.party_card_text>div>div:last-child>span {
	display: flex;
	justify-content: flex-end;
}

.party_card_text>div>div:last-child>span:first-child {
	font-size: 1.0rem;
	line-height: 9px;
	font-weight: 600;
}

.party_card_text>div>div:last-child>span:last-child {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 28px;
}

#ingame_player_list {
	position: absolute;
	top: 0.25rem;
	left: 0.25rem;
	border: 2px dashed blue;

}