<!-- base.htmlwwww -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base Title {% endblock title%}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/header.css' %}"> -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    {% block navbar %}{% endblock navbar %}
    {% block header %}{% endblock header %}
    <!-- {% include 'navbar.html' %} -->
    <!-- {% include 'header.html' %} -->
    <main>
        <!-- <button class="animated-box">Hi</button> -->
        <!-- <div class="animated-box"></div> -->
        {% block content %}
        <h1> This is a default H1 </h1>
        <p>This is a default paragraph</p>
        {% endblock content %}
    </main>
    {% block script %}
    {% endblock script %}
    <!-- <script src="{% static 'js/navbar.js' %}"></script> -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>