<!-- <header class="container pipboy-nav justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-1 d-flex justify-content-center align-items-center">
            <img src="https://picsum.photos/50">
        </div>
        <div class="col-2">
            <button class="pipboy-header-btn" id="home-pipboy-btn" alt="Home page button">HOME</button>
        </div>
        <div class="col-2">
            <button class="pipboy-header-btn" id="home-pipboy-btn" alt="Game page button">GAME</button>
        </div>
        <div class="col-2">
            <button class="pipboy-header-btn" id="home-pipboy-btn" alt="Friends page button">FRIENDS</button>
        </div>
        <div class="col-2">
            <button class="pipboy-header-btn" id="home-pipboy-btn" alt="Profile page button">PROFILE</button>
        </div>
        <div class="col-2">
            <button class="pipboy-header-btn" id="home-pipboy-btn" alt="Statistics page button">STATS</button>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
            <img src="https://picsum.photos/50">
        </div>
    </div> -->
    <!-- Hide image columns if screen is too small -->    
<!-- </header> -->