<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/general/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/view-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/cards/cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat/chat.css' %}">
</head>
<body>
    <main>
        <section class="page-section terminal container active">
            <section class="row">

            </section>
            <section class="row screen">
                <section id="home-section" class="h-100 current">         
                    <p>Welcome to Transcendence Industries (TI) TermLink </p>
                    <p>VAULT-TEC RECREATION TERMINAL</p>
                    <br>
                    <!-- TODO Only display these field if user not connected -->
                    <p><span id="register-field" class="section-field selected-field">[Register]</span></p>
                    <p><span id="login-field" class="section-field">[Login]</span></p>
                    <!-- END -->
                    <p><span id="games-field" class="section-field">[Games]</span></p>
                    <p><span id="tournaments-field" class="section-field">[Tournaments]</span></p>
                    <p><span id="profile-field" class="section-field">[Profile]</span></p>
                    <p><span id="friends-field" class="section-field">[Friends]</span></p>
                    <p><span id="chats-field" class="section-field">[Chats]</span></p>
                    &#9610;
                </section>
                
                <section id="register-section"  class="container">
                    <form id="registrationForm" class="container">
                        <div class="row w-100">
                            <div class="col">
                                <label for="registerUsername">USERNAME</label>
                                <input type="text" id="registerUsername" placeholder="................." required>
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="col">
                                <label for="registerEmail">EMAIL</label>
                                <input type="text" id="registerEmail" placeholder="................." required>
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="col">
                                <label for="registerPassword1">PASSWORD</label>
                                <input type="password" id="registerPassword1" placeholder="................." required>
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="col">
                                <label for="registerPassword2">CONFIRM</label>
                                <input type="password" id="registerPassword2" placeholder="................." required>
                            </div>                        
                        </div>
                        <button type="submit">Register</button>
                    </form>
                    <div id="registrationErrors"></div>
					<button id="oauthLoginButton">Login with 42</button>
					<button id="testButton">Test Welcome</button>
					<p><span id="home-field" class="section-field selected-field">[Cancel]</span></p>
                </section>
                
                <section id="login-section"  class="container">
                    <form id="loginForm">
                        <input type="text" id="loginUsername" placeholder="Username" required>
                        <input type="password" id="loginPassword" placeholder="Password" required>
                        <button type="submit">Login</button>
                    </form>
                    <div id="loginErrors"></div>
                    <p><span id="home-field" class="section-field selected-field">[Cancel]</span></p>
                </section>
               
                <section id="profile-section" class="container">
                    <div id="displayProfile">

                    </div>
                    <button id="editProfileButton">Edit profile</button>
                    <div id="editProfile" class="d-none">

                    </div>
                    <div id="profileErrors"></div>
                    <p><span id="home-field" class="section-field selected-field">[Home]</span></p>
                </section>
				
                <section id="friends-section" class="container">
					<form id="userSearchForm">
						<input type="text" id="searchUsername" placeholder="Search a user...">
						<button type="submit">Search</button>
					</form>
					<div id="searchedProfile">

					</div>
                    <div id="friendsError"></div>
                    <p><span id="home-field" class="section-field selected-field">[Home]</span></p>
				</section>
                
                <section id="chats-section" class="container">
					<p id="connected-username"></p>
                    <div id="chats">
                        <button class="chatRoomButton" data-username="stoupid">Chat Stoupid</button>
						<button class="chatRoomButton" data-username="tgernez">Chat Tgernez</button>               
					</div>
                    <p><span id="home-field" class="section-field selected-field">[Home]</span></p>    
                </section>


                <!-- Temporary -->
                <section id="welcome-section" class="container">
                    <p>Welcome !</p>
                    <img src="{% static 'gifs/vaultboy-sunglasses.gif' %}">
                    <p><span id="home-field" class="section-field selected-field">[Home]</span></p>
				</section>
                <!-- Temporary -->
                <section id="chat-section" class="container">
                    <p>Chat Section</p>
                    <div id="messages"></div>
                    <form id="chat-form">
                        <input id="message-input" type="text" minlength="1" maxlength="1024" placeholder="Type a message...">
                        <button id="send-message-btn" type="submit">Send</button>
                    </form>
                    <p><span id="home-field" class="section-field selected-field">[Home]</span></p>
                </section>
			</section>
                <!-- <section class="home-section" style="height: 90vh;" >
                    <h1>Home section</h1>
                </section> -->
                <!-- <section class="friendships-section" style="height: 90vh;">
                    <h1>Friendships section</h1>
                </section> -->
        </section>
        <section class="page-section pipboy">
            <p style="color: black;">Section Pipboy</p>
            <section id="userProfile" class="container view-profile">
            </section>
        </section>
        <section id="dev-section" class="container w-100 p-5">
            <div class="row d-flex justify-content-center align-items-center w-100">
                <div class="col d-flex justify-content-center align-items-center">
                    <img src="{% static 'cards/perk-card-booster.png' %}" class="perk-card-booster" draggable="false">
                </div>
            </div>
        </section>
    </main>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/users/auth.js' %}"></script>
	<script src="{% static 'js/users/search.js' %}"></script>
	<script src="{% static 'js/users/profile.js' %}"></script>
	<script src="{% static 'js/chat/chat.js' %}"></script>
	<script src="{% static 'js/chat/notification.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>