@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

#registrationForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the flex container */
    width: 500px; /* Set the width of the form */
}

#registrationForm .row {
    width: 100%;
    display: flex;
    align-items: center; /* Center-align the items vertically */
    margin-bottom: 10px; /* Add some space between rows */
}

#registrationForm label {
    font-family: 'Special Elite', sans-serif;
}

#registrationForm input {
    flex-grow: 1; /* Allow input to take up the remaining space */
    /* border: 1px black; */
    font-family: 'Special Elite', sans-serif;
}

#registrationForm input::placeholder {
    font-family: 'Special Elite', sans-serif;
}
