#profile {
	padding-left: 20vw;
	padding-right: 20vw;
}

#profile #profile-picture {
	height: 14vh;
	width: 14vh;
	overflow: hidden;
	object-fit: cover;
    object-position: center;
	border-radius: 5%;
}

#profile #profile-username {
	margin-top: 0.6rem;
	font-size: 1.5rem;
	font-family: 'Belgrano-Regular';
}

#profile-header span {
	font-weight: bold;
}

#profile-header p {
	margin: 0;
	padding: 0;
}

#profile-header #profile-rank {
	margin-top: -0.5rem;	
}

#profile-header #profile-elo {
	margin-top: -0.3rem;	
}

#profile-header #profile-winrate {
	margin-top: -0.3rem;
}

#profile-header #profile-joined {
	margin-top: -0.3rem;
}

#profile-history {
	margin-top: 2vh;
}

#profile-history h4 {
	font-family: 'Belgrano-Regular';
	font-size: 3rem;
	text-align: center;
}

#profile span.online-status {
	height: 2vh;
	width: 2vh;
	margin-right: 0.3rem;
}
