section#register {
    margin-top: 20vh;
}

#register h1 {
    font-family: 'Belgrano-Regular';
}

#register form input {
	background: none;
	border: none;
	border-bottom: 0.15rem rgb(97, 69, 18) solid;
	width: 100%;
}

#register form button, #oauth-button {
    margin: 1rem;
    padding: 0.5rem 3rem;
    background: rgb(97, 69, 18);
    font-family: 'Mouse-Memoirs';
    color: whitesmoke;
    font-size: 1.5rem;
    border: none;
    transition: background-color 0.3s ease, letter-spacing 0.3s ease;
}

#register form button:hover, #oauth-button:hover {
    background: rgb(139, 100, 26);
    letter-spacing: 0.1rem;
}


#register input::placeholder {
	color: rgb(97, 69, 18);
}
