{% load static %}

<div class="row trophy-row justify-content-center align-items-center">
	<div class="col-4">
		<img src="{% static '/icons/trophy.png' %}">
		<div class="trophy-date">26/05/2003</div>
	</div>
	<div class="col-8">
		<p class="achievement-title">Achievement</p>
		<p class="achievement-desc">
			This is a description. It's not long but it isn't short either.
		</p>
		<p class="achievement-reward">Exceptional Reward</p>
	</div>
</div>
<div class="row trophy-row justify-content-center align-items-center">
	<div class="col-4">
		<img src="{% static '/icons/trophy.png' %}">
		<div class="trophy-date">26/05/2003</div>
	</div>
	<div class="col-8">
		<p class="achievement-title">Achievement</p>
		<p class="achievement-desc">
			This is a description. It's not long but it isn't short either.
		</p>
		<p class="achievement-reward">Exceptional Reward</p>
	</div>
</div>
<div class="row trophy-row justify-content-center align-items-center">
	<div class="col-4">
		<img src="{% static '/icons/trophy.png' %}">
		<div class="trophy-date">26/05/2003</div>
	</div>
	<div class="col-8">
		<p class="achievement-title">Achievement</p>
		<p class="achievement-desc">
			This is a description. It's not long but it isn't short either.
		</p>
		<p class="achievement-reward">Exceptional Reward</p>
	</div>
</div>
<div class="row trophy-row justify-content-center align-items-center">
	<div class="col-4">
		<img src="{% static '/icons/trophy.png' %}">
		<div class="trophy-date">26/05/2003</div>
	</div>
	<div class="col-8">
		<p class="achievement-title">Achievement</p>
		<p class="achievement-desc">
			This is a description. It's not long but it isn't short either.
		</p>
		<p class="achievement-reward">Exceptional Reward</p>
	</div>
</div>
<div class="row trophy-row justify-content-center align-items-center">
	<div class="col-4">
		<img src="{% static '/icons/trophy.png' %}">
		<div class="trophy-date">26/05/2003</div>
	</div>
	<div class="col-8">
		<p class="achievement-title">Achievement</p>
		<p class="achievement-desc">
			This is a description. It's not long but it isn't short either.
		</p>
		<p class="achievement-reward">Exceptional Reward</p>
	</div>
</div>