{% extends 'base.html' %}
{% block content %}
<h5>{{ user.username }}'s friendships:</h5>
{% include 'friendships/friendlist.html' %}
<h5>{{ user.username }}'s received friend requests:</h5>
{% include 'friendships/friendrequestlist.html' %}
<h5>{{ user.username }}'s emitted friend requests:</h5>
{% include 'friendships/emittedfriendrequestlist.html' %}
<h5>{{ user.username }}'s blocked users:</h5>
{% include 'friendships/blockeduserlist.html' %}
{% if messages %}
    {% for message in messages %} 
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="POST" action="{% url 'send_friend_request' %}"> <!-- TODO check in function if user of the request is related to the friend_request -->
    {% csrf_token %}
    <input type="text" name="friend_username" placeholder="Enter friend username">
    <button type="submit">Add friend</button>
</form>
<script type="text/javascript">
    const username = "{{ user.username }}";
    const webSocket = new WebSocket(`ws://${window.location.host}/ws/friend-requests/${username}/`);

    webSocket.onopen = function(event) {

    }

    webSocket.onmessage = function(event) {
        alert('RECU');
        // TODO update db and context above
        // Handle incoming WebSocket messages here
    };

    webSocket.onclose = function(event) {
        // Handle WebSocket closing here
    };
</script>
{% endblock %}