<!-- TODO Later -->

					
<div class="history-row win-row container">
	<div class="row d-flex justify-content-evenly align-items-center p-0">
		<div class="history-game-result">WIN</div>
		<div class="d-inline-flex justify-content-between align-items-center bg-green px-4">
			<img class="history-profile-picture" src="{{ user.profile_picture.url }}">
			<!-- Add link + indicator of the profile name -->
			<span class="score">6 - 3</span>
			<img class="history-profile-picture" src="{{ user.profile_picture.url }}">
			<!-- Add link + indicator of the profile name -->
		</div>
		<div class="history-game-time">
			2:30
		</div>
		<div class="history-gamemode">
			Gamemode
		</div>
	</div>
</div>

<div class="history-row win-row container">
	<div class="row d-flex justify-content-evenly align-items-center p-0">
		<div class="history-game-result">WIN</div>
		<div class="d-inline-flex justify-content-between align-items-center bg-green px-4">
			<img class="history-profile-picture" src="{{ user.profile_picture.url }}">
			<!-- Add link + indicator of the profile name -->
			<span class="score">6 - 3</span>
			<img class="history-profile-picture" src="{{ user.profile_picture.url }}">
			<!-- Add link + indicator of the profile name -->
		</div>
		<div class="history-game-time">
			2:30
		</div>
		<div class="history-gamemode">
			Gamemode
		</div>
	</div>
</div>

<div class="history-row lose-row container">
	<div class="row d-flex justify-content-evenly align-items-center p-0">
		<div class="history-game-result">LOSE</div>
		<div class="d-inline-flex justify-content-between align-items-center bg-green px-4">
			<img class="history-profile-picture" src="{{ user.profile_picture.url }}">
			<!-- Add link + indicator of the profile name -->
			<span class="score">6 - 3</span>
			<img class="history-profile-picture" src="{{ user.profile_picture.url }}">
			<!-- Add link + indicator of the profile name -->
		</div>
		<div class="history-game-time">
			2:30
		</div>
		<div class="history-gamemode">
			Gamemode
		</div>
	</div>
</div>

<div class="history-row win-row container">
	<div class="row d-flex justify-content-evenly align-items-center p-0">
		<div class="history-game-result">WIN</div>
		<div class="d-inline-flex justify-content-between align-items-center bg-green px-4">
			<img class="history-profile-picture" src="{{ user.profile_picture.url }}">
			<!-- Add link + indicator of the profile name -->
			<span class="score">6 - 3</span>
			<img class="history-profile-picture" src="{{ user.profile_picture.url }}">
			<!-- Add link + indicator of the profile name -->
		</div>
		<div class="history-game-time">
			2:30
		</div>
		<div class="history-gamemode">
			Gamemode
		</div>
	</div>
</div>

<div class="history-row lose-row container">
	<div class="row d-flex justify-content-evenly align-items-center p-0">
		<div class="history-game-result">LOSE</div>
		<div class="d-inline-flex justify-content-between align-items-center bg-green px-4">
			<img class="history-profile-picture" src="{{ user.profile_picture.url }}">
			<!-- Add link + indicator of the profile name -->
			<span class="score">6 - 3</span>
			<img class="history-profile-picture" src="{{ user.profile_picture.url }}">
			<!-- Add link + indicator of the profile name -->
		</div>
		<div class="history-game-time">
			2:30
		</div>
		<div class="history-gamemode">
			Gamemode
		</div>
	</div>
</div>
