{% extends 'base.html' %}
{% load static %}
{% block extra_css %} <link rel="stylesheet" type="text/css" href="{% static 'css/users/pipboy.css' %}"> {% endblock extra_css %}
{% block content %}
<section class="pipboy">
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center pipboy-header">
			<div class="col-3 tab-title bg-blue" id="active">
				<button>HOME</button>
			</div>
			<div class="col-3 tab-title bg-blue">
				<button>DATA</button>
			</div>
			<div class="col-3 tab-title bg-blue">
				<button>ACHV</button>
			</div>
			<div class="col-3 tab-title bg-blue">
				<button>HIST</button>
			</div>
		</div>
	</div>
	<div>
		<div class="header-line"></div>
	</div>
	<div>
		<div class="pipboy-subheader"></div>
	</div>

	<section class="container stat-page" id="stat">
		<div class="row">
			<div class="col-4">
				WINRATE
			</div>
			<div class="col-4">
				STAT
			</div>
			<div class="col-4">
				STAT
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-4">
				STAT
			</div>
			<div class="col-4">
				<img src="{% static 'gifs/vaultboy.gif' %}" class="img-fluid" alt="Description of the GIF">
			</div>
			<div class="col-4">
				STAT
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				STAT
			</div>
			<div class="col-4">
				STAT
			</div>
			<div class="col-4">
				STAT
			</div>
		</div>
	</section>
</section>
{% endblock content %}
{% block script %}
<script>
    let header_tabs = document.getElementsByClassName("tab-title");
    
    // Add tab click behaviour 
    for (let tab of header_tabs) {
        tab.addEventListener('click', (e) => {
			document.getElementById('active').removeAttribute('id');
            e.currentTarget.id = "active"; 
        });
    }
</script>
{% endblock script %}