{% extends 'base.html' %}
{% load static %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'css/profile.css' %}"> {% endblock extra_css %}

{% block title %} My Profile {% endblock %}

{% block content %}
<section class="profile">

    <section class="profile-card">
        {% if user.profile_picture %}
            <div class="profile-picture-container">
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
            </div>
        {% else %}
            <p>No profile picture</p>
        {% endif %}
        <div class="profile-info">
            <div class="profile-username"> {{ user.username }} </div>
            <div class="info-grid">
                <div class="profile-info-column">
                    <span class="profile-info-title">Rank</span>
                    <span class="profile-info-number">1/10</span>
                </div>
                <div class="profile-info-column">
                    <span class="profile-info-title">Highest</span>
                    <span class="profile-info-number">1/8</span>
                </div>
                <div class="profile-info-column">
                    <span class="profile-info-title">Friends</span>
                    <span class="profile-info-number">10</span>
                </div>
            </div>
        </div>
    </section>
    <section class="profile-stats">
        <p>Hey</p>
        <p>Second paragraph</p>
    </section>
</section>
{% endblock content %}