{% extends 'base.html' %}
{% load static %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'css/profile.css' %}"> {% endblock extra_css %}

{% block title %} My Profile {% endblock %}

{% block content %}
<section class="profile">
    <section class="profile-card">
		<div class="profile-picture-container">
			{% if user.profile_picture %}
			<img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
			{% else %}
			<img src="{% static '../media/profile_pictures/default.jpg' %}">
			{% endif %}
		</div>
        <div class="profile-info">
            <div class="profile-username"> {{ user.username }} </div>
            <div class="info-grid">
                <div class="profile-info-column">
                    <span class="profile-info-title">Rank</span>
                    <span class="profile-info-number">1/10</span>
                </div>
                <div class="profile-info-column">
                    <span class="profile-info-title">Highest</span>
                    <span class="profile-info-number">1/8</span>
                </div>
                <div class="profile-info-column">
                    <span class="profile-info-title">Friends</span>
                    <span class="profile-info-number">10</span>
                </div>
            </div>
        </div>
    </section>
	<!-- Implement a profile details section with date, bio, favourite game, winstreak, rank... -->
    <section class="profile-stats container text-center">
		<div class="row">

			<div class="col-12 col-md-6 d-flex flex-column align-items-center p-0" id="recent-games">
				<h5>Recent Games</h5>
				<div class="w-75 d-flex flex-column justify-content-center align-items-center" id="history">
					{% include 'users/history-game.html' %}
					<!-- Add include tag for users/history-game.html -->
					<!-- For loop for the 5 last games -->
				</div>
			</div>
			
			<div class="col-12 col-md-6 d-flex flex-column align-items-center" id="recent-trophies">
				<h5>Recent Trophies</h5>
				<div class="w-75 d-flex flex-column justify-content-center align-items-center" id="trophies">
					{% include 'users/achievement.html' %}
					<!-- For loop for the 5 last trophies -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 d-flex flex-column align-items-center" id="stats">
				<h5>Stats</h5>
				<!-- Show the stats -->
			</div>
			<div class="col-12 col-md-6 d-flex flex-column align-items-center" id="charts">
				<h5>Charts</h5>
			</div>
		</div>
	</section>
	{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
</section>
{% endblock content %}