/* general.css */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
	touch-action: manipulation;
}

main {
	background-color: blue;
	margin-bottom: 100vh;
}
/* 
main {
	margin-top: 15vh;
	margin-left: 1vw;
	margin-right: 1vw;
} */

.position-relative {
	position: relative;
}