.pipboy-header-btn {
	width: 100%;
	height: 100%;
}

.col {
	height: 100%;
	width: 100%;
}

.pipboy-nav {
	max-width: 100% !important;
}

header .row {
	height: 50px;
	
}

header .row>* {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}