/* home.css */

body {
    background-color: rgb(5, 5, 51);
}

.btn-planet img {
    width: 60%;
}

section .btn-planet {
    position: fixed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

section .btn-planet:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    transform: scale(1.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#planet-pong {
    top: 10%;
    left: 10%;
    background-color: blue;
    width: 90px;
    height: 90px;
}

#planet-minesweeper {
    top: 15%;
    left: 65%;
    background-color: lightblue;
    width: 90px;
    height: 90px;
}

#planet-tournaments {
    top: 30%;
    left: 25%;
    background-color: red;
    width: 90px;
    height: 90px;
}

#planet-friends {
    top: 45%;
    left: 50%;
    background-color: lightblue;
    width: 90px;
    height: 90px;
}

#planet-chats {
    top: 55%;
    left: 35%;
    background-color: lightblue;
    width: 90px;
    height: 90px;
}

#planet-leaderboard {
    top: 75%;
    left: 35%;
    background-color: lightblue;
    width: 90px;
    height: 90px;
}

#planet-settings {
    top: 85%;
    left: 65%;
    background-color: lightblue;
    width: 90px;
    height: 90px;
}
