.page-section {
    display: none;
    height: 100vh;
}

#active,
#register-section.current,
#home-section.current {
    display: block;
}

#home-section {
    font-family: 'VT323', monospace;
    color: rgb(1, 150, 1);
    background-color: black;
    display: none;
}

#home-section p {
    padding: 0;
    margin-left: 0.5vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: large;
}

#register-section {
    display: none;
}

.selected-field {
    background-color: rgb(1, 150, 1);
    color: black;
}