.page-section {
    display: none;
    height: 100vh;
    width: 100vw;
}

.terminal {
    height: 80vh;
}

#active,
#home-section.current,
#register-section.current,
#login-section.current,
#friends-section.current {
    display: block;
}

#home-section,
#register-section,
#login-section,
#friends-section {
    display: none;
}

#home-section {
    font-family: 'VT323', monospace;
    color: rgb(1, 150, 1);
    background-color: black;
}

#home-section p {
    padding: 0;
    margin-left: 0.5vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: large;
}

.selected-field {
    background-color: rgb(1, 150, 1);
    color: black;
}
