@font-face {
    font-family: 'Oswald Regular';
    src: url('../fonts/Oswald-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body main {
    padding: 0;
    overflow-x: hidden;
}


section {
    width: 100%;
    /* position: relative; */
}

.profile-card {
    margin-top: -30vw;
    display: flex;
    padding: 2vh 2vw;
    background-color: darkblue;
    min-height: 10vh;
    position: absolute;
    z-index: 1;
}

.profile {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: darkblue;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26vw;
    height: 26vw;
    overflow: hidden;
}

.profile-picture {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: 50%;
    border: solid 1px black;
}

.profile-info {
    margin-left: 2vw;
    width: 70vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.profile-info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info-title {
    margin-bottom: 0.5vh;
    font-family: 'Oswald Regular';
}

.profile-info-number {

}

.profile-username {
    text-align: center;
    font-family: 'Oswald Regular';
    text-transform: uppercase;
}

.profile-stats {
    margin-top: 30vw;
    position: sticky;
    top: 0; 
    background-color: aquamarine;
    z-index: 2;
    min-height: 100vh;
}