@font-face {
    font-family: 'Oswald Regular';
    src: url('../fonts/Oswald-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body main {
    padding: 0;
    overflow-x: hidden;
}


section {
    width: 100%;
    /* position: relative; */
}

.profile-card {
    margin-top: -32.5vw;
    display: flex;
    padding: 2vh 2vw;
    background-color: darkblue;
    min-height: 10vh;
    position: absolute;
    z-index: 1;
}

.profile {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: darkblue;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26vw;
    height: 26vw;
    overflow: hidden;
}

.profile-picture {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: 50%;
    border: solid 1px black;
}

.profile-info {
    margin-left: 2vw;
    width: 70vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.profile-info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info-title {
    margin-bottom: 0.5vh;
    font-family: 'Oswald Regular';
}

.profile-info-number {

}

.profile-username {
    text-align: center;
    font-family: 'Oswald Regular';
    text-transform: uppercase;
}

.profile-stats {
    margin-top: 30vw;
    position: sticky;
    top: 0; 
    background-color: white;
    z-index: 2;
    min-height: 100vh;
	border-top-left-radius: 22px;
	border-top-right-radius: 22px;
	padding-top: 3vh;

}

h5 {
	font-size: xx-large;
	padding: 2vh 0;
	color: rgb(64, 64, 64);
	margin-bottom: 0;
}

#recent-games h5 {
	text-transform: uppercase;
}

#recent-trophies h5 {
	text-transform: uppercase;
}

#stats h5 {
	text-transform: uppercase;
}

#charts h5 {
	text-transform: uppercase;
}

.bg-red {
	background-color: red;
}

.bg-blue {
	background-color: blue;
}

.bg-green {
	background-color: green;

}

.history-row {
	box-shadow: inset 0px 0px 2px black;
	width: 100%;
	padding: 0.5vh 0vw;
}

.history-row:hover {
	box-shadow: inset 0px 0px 0px black;
}

.win-row {
	background-color: rgb(102, 191, 220);
}

.win-row:hover {
	background-color: rgb(55, 173, 213);
}

.lose-row {
	background-color: rgb(202, 67, 67);
}

.lose-row:hover {
	background-color: rgb(214, 51, 51);
}

#history {
	border: solid;
}

.history-profile-picture {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid;
	object-fit: cover;
    object-position: center;
	overflow: hidden;
}

.score {
	font-size: xx-large;
}

.history-game-result {
	font-size: x-large;
	margin-bottom: -25px;
	text-transform: capitalize;
}

.history-game-time {
	/* font-size:  */
	margin-top: -25px;
	margin-bottom: 5px;
}

.history-gamemode {
	margin-top: -10px;
	font-size: small;
	text-transform: uppercase;
}

.trophy-row {
	box-shadow: inset 0px 0px 2px black;
	width: 100%;
	padding: 0.5vh 0vw;
	background-color: rgb(192, 192, 192);
}

.trophy-row img {
	max-width: 100%;
	width: 70px;
	height: 70px;
}

.trophy-date {
	margin-top: -8px;
	font-size: smaller;
}

.achievement-title {
	font-size: larger;
	font-weight: bolder;
	text-transform: uppercase;
}

.achievement-desc {
	font-size: x-small;
}

.achievement-reward {
	font-size: smaller;
	color: grey;
}

#trophies p {
	padding: 0;
	margin: 0;
}