.perk-card-booster {
    width: 150px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
    transform-origin: center;
    position: relative;
    display: inline-block; /* or block depending on your layout */
}

.perk-card-booster::after {
    content: '';
    position: absolute;
    top: 0;
    left: -75%; /* Start from the left */
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-20deg);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.perk-card-booster:hover::after {
    opacity: 1;
    left: 125%; /* Move across the element */
    transition: left 0.7s ease, opacity 0.5s ease;
}

.perk-card-booster:hover {
    transform: scale(1.11);
    animation: shake 0.5s ease infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg) scale(1.11); }
    10% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.11); }
    20% { transform: translate(-3px, 0px) rotate(1deg) scale(1.11); }
    30% { transform: translate(3px, 2px) rotate(0deg) scale(1.11); }
    40% { transform: translate(1px, -1px) rotate(1deg) scale(1.11); }
    50% { transform: translate(-1px, 2px) rotate(-1deg) scale(1.11); }
    60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.11); }
    70% { transform: translate(3px, 1px) rotate(-1deg) scale(1.11); }
    80% { transform: translate(-1px, -1px) rotate(1deg) scale(1.11); }
    90% { transform: translate(1px, 2px) rotate(0deg) scale(1.11); }
    100% { transform: translate(1px, -2px) rotate(-1deg) scale(1.11); }
}